h1 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}
h3 {
  color: aquamarine;
  font-size: 16px;
}
* {
  background-color: black;
  text-align: center;
}
.cellphonevideo {
  position: absolute;
  height: 30%;
  width: 30%;
  background-color: white
  top: 10%;
  left: 30%;
}
