/*.discover {
  font-family: verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}
.personaltravelguide {
  font-family: verdana;
  font-weight: 300;
  font-size: 42px;
}
.aqua {
  color: aquamarine;
  font-size: 16px;
}
* {
  background-color: black;
  text-align: center;
}
.cellphonevideo {
  position: absolute;
  height: 70%;
  width: 30%;
  background-color: white;
  top: 10%;
  left: 30%;
}
.remember {
  font-family: verdana;
  font-size: 21px;
  color: gray;
}
.endmatter {
  text-align: right;
  color: gray;
}*/

body {
    font-family: Verdana, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
}

.download {
    color: Aquamarine;
    font-size: 16px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 42px;
}

p {
    color: Gray;
    font-size: 21px;
}

.footer {
    text-align: right;
}
